/** @format */

.signup-screen {
	max-width: 300px;
	padding: 70px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(0, 0, 0, 0.85);
}

.signup-screen > form {
	display: grid;
	flex-direction: column;
}

.signup-screen > form > input {
	outline-width: 0;
	height: 40px;
	margin-bottom: 14px;
	border-radius: 5px;
	border: none;
	padding: 5px 15px;
}

.signup-screen > form > button {
	padding: 16px 20px;
	font-size: 1rem;
	color: #fff;
	border-radius: 5px;
	background-color: #e50914;
	border: none;
	cursor: pointer;
	font-weight: 600;
	margin-top: 20px;
}

.signup-screen > form > h1 {
	text-align: left;
	margin-bottom: 25px;
}

.signup-screen > form > h4 {
	text-align: left;
	margin-top: 30px;
}

.signup-screen-gray {
	color: gray;
}

.signup-screen-link:hover {
	cursor: pointer;
	text-decoration: underline;
}
