/** @format */
.nav {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	padding: 20px;
	width: 100%;
	height: 50px;
	z-index: 1;
	color: #e5e5e5;
	font-size: 14px;
	/* background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.7) 10%,
		transparent */
	/* ); */
	box-sizing: border-box;
	z-index: 1;

	/* Animations */
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

.navbar-left {
	display: flex;
	align-items: center;
	gap: 5px;
}

.navbar-left .logo {
	width: 90px;
}

.navbar-left ul {
	display: flex;
	list-style: none;
	gap: 20px;
	margin-left: auto;
	padding-right: 20px;
	font-weight: 600;
}

.navbar-left ul li {
	cursor: pointer;
}

.navbar-right {
	position: relative;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.navbar-right .icons {
	width: 20px;
	cursor: pointer;
}

.navbar-right .profile {
	border-radius: 4px;
	width: 35px;
}

.navbar-profile {
	display: flex;
	position: relative;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	position: relative;
	justify-content: center;
	padding: 20px;
	padding-left: 0;
}

.nav-black {
	background-color: #111;
}

.caret-icon {
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.nav-options {
	display: absolute;
	top: 100%;
	right: 0;
	width: max-content;
	background: #191919;
	padding: 18px 22px;
	border-radius: 2px;
	justify-content: center;
	z-index: 1;
	display: block;
	list-style: none;
}

.nav-options > li {
	padding: 10px;
	font-size: 14px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
}

.caret-icon:hover .nav-options {
	display: block;
	animation: slideDown 0.3s ease-in-out;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
}

.caret-icon ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	color: #fff;
	
	border: 1px solid #ccc;
	padding: 10px;
	width: 100%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.caret-icon:hover ul {
	display: block;
	width: 200px;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.navbar-profile ul {
	display: none;
	position: absolute;
	top: 100%;
	right: -210px;

	color: #fff;
	background-color: gray;
	border: 1px solid #ccc;
	padding: 10px;
	width: 50px;
	z-index: 1;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.navbar-profile:hover ul {
	display: block;
	width: 200px;
	justify-content: center;
	align-items: center;
	margin-right: 200px;
}
.navbar-profile:hover .nav-options {
	display: block;
	animation: slideDown 0.3s ease-in-out;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	width: 150px;
}

.caret {
	width: 10px;
	height: 14px;
	margin-left: 5px;
}

.navbar-profile:hover .dropdown {
	display: block;
}

.nav-options li:hover {
	background-color: #444;
	color: #fff;
}

.navbar-profile .nav-options li:hover {
	background-color: #444;
	color: #fff;
	text-decoration: underline;
}

@keyframes slideDown {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@media screen and (min-width: 768px) {
	.caret-icon {
		display: none;
	}

	.nav {
		height: 70px;
	}
}
