/** @format */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #141414;
	color: white;
	text-align: center;
}

.title {
	font-size: 2rem;
	margin-bottom: 2rem;
	font-size: 3.5vw;
	font-weight: unset;
}

.profiles {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile:hover img,
.profile:hover p {
	border: white;
	color: white;
	cursor: pointer;
}

.profile:hover {
	transform: scale(1.1);
	transition: 0.2s;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #fff;
}

.profile:hover.title {
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-img {
	width: 100px;
	height: 100px;
	border-radius: 8px;
}

.profile-name {
	margin-top: 0.5rem;
	font-size: 1rem;
	color: gray;
}

.manage-button {
	margin-top: 2rem;
	padding: 0.5rem 1rem;
	border: 1px solid gray;
	background: transparent;
	color: gray;
	cursor: pointer;
	transition: background 0.3s;
}

.manage-button:hover {
	color: #fff;
	border: 1px solid #fff;
}
